body {
    background-color: #008080;
}

.content {
  border-radius: 10px;
  border-width: 4em 7em;
  border-style: solid;
  border-color: gray;
  max-width: 38em;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  text-align: center;
}


.heading, .add-item {
    font-family: "Roboto Slab";
    margin-bottom: 3em;
}

.heading h1 {
    font-size: 3.7em;
    font-weight: bold;
    margin-bottom: -.35em;
    color: #008080;
}

.heading h3 {
  font-family: "Permanent Marker";
  font-size: 1.6em;
}

.fa-shopping-cart {
  border: 3px solid #008080;
  border-radius: 1.25rem;
  padding: .3em;

}

.add-item input {
  border-radius: 5px;
  border: 2px solid gray;
  width: 60%;
  padding: .25em;
  font-size: 1.25em;
}

.add-item p {
  color: black;
  font-weight: bold;
  font-size: 1.25em;
}

.shopping-list {
  font-family: "Permanent Marker";
  margin-bottom: 5em;
  margin-left: -2em;
}

.shopping-list li {
  list-style-type: none;
  overflow: auto;
}

.item {
  float: left;
  width: 70%;
  font-size: 2.195em;
  line-height: 2.05em;
  color: #5d5d5d;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
}

.fa-trash-o, .fa-check-square {
  float: left;
  width: 10%;
  border: 2px solid gray;
  padding: .25em;
}

.fa-trash-o {
  color: #800000;
}

.fa-check-square {
  color: #008000;
}

.fa-trash-o:hover, .fa-check-square:hover, .selected .fa-trash-o:hover, .selected .fa-check-square:hover {
  color: #008080;
  cursor: pointer;
}


.selected span {
  background-color: #adadad;
}

.selected .item {
  text-decoration: line-through;
   color: white;
}

.selected .fa-trash-o, .selected .fa-check-square {
  color: #6d6d6d;
}
