body {
    background-color: #008080;
}

.content {
  margin-top: 3em;
  border-radius: 10px;
  border-width: 4em 7em;
  border-style: solid;
  border-color: gray;
  max-width: 35em;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 3em;
  min-height: 50em;
  text-align: center;
}


.heading, .add-item {
    font-family: "Roboto Slab";
    margin-bottom: 3em;
}

.heading h1 {
    font-size: 3.7em;
    font-weight: bold;
    margin-bottom: -.35em;
    color: #008080;
}

.heading h3 {
  font-family: "Permanent Marker";
  font-size: 1.6em;
}

.heading i {
  border: 3px solid #008080;
  border-radius: 1.25rem;
  padding: .3em;

}

.add-item textarea {
  border-radius: 5px;
  border: 2px solid gray;
  width: 60%;
  padding: .8em 0 0 .7em;
  line-height: 1em;
}

.add-item p {
  color: black;
  font-weight: bold;
  font-size: 1.25em;
}

.shopping-list {
  font-family: "Permanent Marker";
}

.shopping-list li {
  list-style-type: none;
  float: left;
}

.item {
  width: 70%;
  font-size: 1.7em;
  line-height: 2.07em;
  color: #5d5d5d;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
}

.trash-icon, .check-icon {
  width: 10%;
  border: 2px solid gray;
  padding: .25em;
}

.trash-icon {
  color: #800000;
}

.check-icon {
  color: #008000;
}

.trash-icon:hover, .check-icon:hover, .selected i:hover {
  color: #008080;
  cursor: pointer;
}

.selected li {
  text-decoration: line-through;
  background-color: #adadad;
  color: white;
}

.selected i {
  color: gray;
}

